.cssClass {
    width: 100%;
    height: 100%;
    div {
        width: 100%;
        height: 100%;
        &.parallaxImage {
            background-attachment: fixed;
            background-position: 50% 0;
        }
    }
}